body{
    background-color: rgb(231, 231, 231);
    margin: 0;
    padding: 0;
}

.nav-header-a{
    float: right;
    text-align: center;
    color: white;
    margin: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding-top:10px ;
    font-size: 20px;
    margin-right: 20px;
    font-weight: 700;
    padding: 10px;
}
.nav-header-a:hover{
    transition: .5s;
    background-color: #ccc;
    border-color: #ccc;
}
.nav-header{
    background-color:#213253;
    padding: 8px;
    height: 80px;
}
.nav-header.a{
    height: 20px;
}
.div-header{
    display: block;
    position: relative;
}
.imagem-principal{
    position: absolute;
    top: 100px;
    text-align: center;
    justify-content: center;
    color:#ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 65px;
}
.imagem-slide{
    max-width: 1682px;
    width: 100%;
    height: auto;
    justify-content: center;
    
}
.texto-imagem-principal{
    position: absolute;
    top: 450px;
    left: 70px;
  
    text-align: center;
    justify-content: center;
    color: #ffffff ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 33px;
}
.botao-contato-principal{
    position: absolute;
    top: 650px;
    left: 42%;
    margin-left: -42px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;  
    text-decoration: none;
    background-color: #74c0eb;
    padding:10px;
    border-radius: 40px;
    font-weight: 600;   
}
.botao-contato{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;  
    text-decoration: none;
    background-color: #74c0eb;
    padding:10px;
    border-radius: 40px;
    font-weight: 600;
}
.botao-contato:hover{
    transition: 1s;
    background-color: #f1c50e;
    color: black;
}
.botao-main-position{
    margin-top:10px;
}
.alinha-texto-e-imagem{
    padding-top: 50px;
    display: flex; 
    text-align: center;
}
.main-coluna-direta{
    height: 400px;
    padding: 50px;
    box-sizing: border-box;
}
.main-coluna-esquerda{
    display: inline;
    text-align: center;
    height: 550px;
}
.fonte-main-direta{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
}
.fonte-main-direta-titulo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}
.title-nossos-serviços{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: auto;
    font-size: 50px;
}
.grid-1{
    background-color:#74c0eb;
    display: inline-block;
    width: 350px;
    height: 350px;
    margin-right: 30px;
    padding:50px;
    text-align: center;
   
}
.grid-2{
    
    display: inline-block;
    width: 350px;
    height: 350px;;
    margin-bottom: 30px;
 
    padding:50px;
    
}
.grid-21{
    background-color:#3e63aa;
    display: inline-block;
    width: 350px;
    height: 350px;;
    margin-bottom: 30px;
    margin-right: 30px;
    padding:50px;
    
    
}
.grid-31{

    display: inline-block;
    width: 350px;
    height: 350px;
    margin-right: 30px;
    padding:50px;
    text-align: center;
}
.grid-41{

    display: inline-block;
    width: 350px;
    height: 350px;;
    padding:50px;
    
}
.grid-51{
    background-color:#74c0eb;
    display: inline-block;
    width: 350px;
    height: 350px;;
    padding:50px;
    
}
.pega-todas-engrenagens{
    display: grid;
    justify-content: space-around;
    
}
.geral-div{
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    flex-wrap: 2;
    padding-top: 50px;
    padding-bottom: 50px;
}
.text-grid{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;  
}
.engrenagem{
    display: inline-block;  
}
.under-text-grid{
    font-size: 18px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.lista-alternada{
display: inline-block;
font-size: 28px;
position: absolute;
color: white;
font-family: Arial, Helvetica, sans-serif;
font-weight: 500;
padding: 5px;
margin-top: 50px;
}
.lista-alternada ul{
    height: 35px;
    overflow: hidden;
}

.lista-alternada ul:hover{
    height: 180px;
    transition: 0.5s;
}
.secao-servico-prestados{
    margin-top: 50px;
    background-color: #0f2146;
    height: 500px;
    padding: 50px;
}
.comentarios{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 50px;
}
.comentarios-clientes{
    font: 20px;
    padding-left: 530px;
    font-family: Arial, Helvetica, sans-serif;
}
.primeira-secao-comentarios{
    width: 30%;
    display: inline-block;  
}
.segunda-secao-comentarios{
    width: 30%;
    display: inline-block;  
}
.nome-e-funcao{
    position: relative;
    bottom:20px;
    display: inline-block;
}
.aspas{
    display: inline-block;
    font-size: 5em;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.insta-contact{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1em;
}
.instagraam{
    text-decoration: none;
    color: #f1c50e;
    display: inline-block;
}
.instagraam:hover{
    display: inline-block;
    transition: 0.5s;
    color: black;
}
.remove-marca{
    background-color: white;
}
.informacao_para_contato{
    display: inline-block;
    
}
form{
   display: inline-block;
   position: absolute;
    padding-top: 180px;
    padding-left: 150px;
}
.info-local{
    padding-left: 75px;
}
footer{
    background-color: #0f2146;
    color: #ffffff;
}
footer p{
    font-family: Arial, Helvetica, sans-serif;
}
footer address{
    font-family: Arial, Helvetica, sans-serif;
}
.footer-Contato{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    padding-left: 50px ;
}
.texto_entre_em_contato{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
form div input{
    display: block;
    border: #898585 2px solid;
    height: 25px;
    border-radius: 2px;
    font-size: 15px;
    margin: 5px;

}
form div button{
    display: block;
    background-color: #f1c50e;
    border: none;
    padding: 15px;
    margin: 8px;
    color: #000000;
    font-weight: 400;
    
}
form div div{
    display: inline-flex;
}
.formulario{
    background-color: #3e63aa;
    padding: 15px;
}
.input_nome{
    border: #898585 2px solid;
    height: 25px;
    border-radius: 2px;
    width: 402px;
    font-size: 15px;

}
@media (max-width: 1000px) {
    .geral-div{
       display: grid;
       flex-direction: column;
       justify-content: center;
       
    }
    .alinha-texto-e-imagem{
        flex-direction: column;
        justify-content: center;
    }
    .fonte-main-direta-titulo{
    }
    .main-coluna-direta{
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .secao-servico-prestados{
       padding: 50px;
    }
    .test1{
        padding-top: 120px;
    }
    footer{
        height: 750px;
    }
    form{
        display: block;
    }
    .botao-contato{
     font-size: 35px;
     padding:25px   
    }

  }